*{
    margin: 0px;
    padding: 0px;
}

.page{
    background-color: slateblue;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    margin-top: 30px;
    height: 50px;
}


.text p{
    font-size: 30px;
    font-weight: bold;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input input{
    border: none;
    border-bottom: 2px solid violet;
    font-size: 20px;
    background-color: transparent;
    width: 200px;
    color: slateblue;
}

.input button{
    border-radius: 50px;
    border : none;
    margin-left: 20px;
}
.input button img:hover{
    border-radius: 50px;
    border : none;
    filter: hue-rotate(120deg);
}

.list{
    display: flex;

}

.list span{
    margin: 20px;
}

ul {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}




.list ul li{
    list-style: none;
    color: slategray;
    font-size: 20px;

}

/* .list img{
    filter: hue-rotate(270deg);
}
.list img:hover{
    filter: hue-rotate(0deg) saturate(8);

} */